* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

section#header {
  padding: 0 1.75rem;
}
section#header nav.navbar {
  min-height: 70px;
  padding: 10px 0;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: saturate(180%) blur(50px);
          backdrop-filter: saturate(180%) blur(50px);
}
section#header nav.navbar.opened {
  background-color: #fff;
}
section#header nav.navbar a.navbar-brand img {
  height: 3rem;
  width: auto;
}
section#header nav .logo img {
  width: auto;
  height: 3rem;
}
section#header nav button {
  height: 20px;
  width: 31px;
  outline: none;
  border: 0;
  background-color: transparent;
  position: relative;
}
section#header nav button .hamburger-menu span {
  position: absolute;
  right: 0;
  top: 0;
  height: 2px;
  width: 30px;
  background-color: #000;
}
section#header nav button .hamburger-menu span:nth-child(2), section#header nav button .hamburger-menu span:nth-child(3) {
  top: 8px;
}
section#header nav button .hamburger-menu span:nth-child(4) {
  top: 16px;
}
section#header nav .navbar-nav {
  font-weight: 500;
  align-items: center;
  text-transform: uppercase;
}
section#header nav .navbar-nav .nav-item .nav-link {
  margin: 0.25em 1em;
}
section#main {
  background-color: #e3d6eb;
}